<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bcu.judge.mapper.ExamMapper">
  <resultMap id="BaseResultMap" type="com.bcu.judge.pojo.Exam">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="exam_id" jdbcType="VARCHAR" property="examId" />
    <result column="exam_paper_id" jdbcType="VARCHAR" property="examPaperId" />
    <result column="exam_name" jdbcType="VARCHAR" property="examName" />
    <result column="exam_desc" jdbcType="VARCHAR" property="examDesc" />
    <result column="exam_status" jdbcType="VARCHAR" property="examStatus" />
    <result column="exam_time" jdbcType="TIMESTAMP" property="examTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, exam_id, exam_paper_id, exam_name, exam_desc, exam_status, exam_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from exam
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from exam
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.bcu.judge.pojo.Exam" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into exam (exam_id, exam_paper_id, exam_name, 
      exam_desc, exam_status, exam_time
      )
    values (#{examId,jdbcType=VARCHAR}, #{examPaperId,jdbcType=VARCHAR}, #{examName,jdbcType=VARCHAR}, 
      #{examDesc,jdbcType=VARCHAR}, #{examStatus,jdbcType=VARCHAR}, #{examTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.bcu.judge.pojo.Exam" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into exam
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="examId != null">
        exam_id,
      </if>
      <if test="examPaperId != null">
        exam_paper_id,
      </if>
      <if test="examName != null">
        exam_name,
      </if>
      <if test="examDesc != null">
        exam_desc,
      </if>
      <if test="examStatus != null">
        exam_status,
      </if>
      <if test="examTime != null">
        exam_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="examId != null">
        #{examId,jdbcType=VARCHAR},
      </if>
      <if test="examPaperId != null">
        #{examPaperId,jdbcType=VARCHAR},
      </if>
      <if test="examName != null">
        #{examName,jdbcType=VARCHAR},
      </if>
      <if test="examDesc != null">
        #{examDesc,jdbcType=VARCHAR},
      </if>
      <if test="examStatus != null">
        #{examStatus,jdbcType=VARCHAR},
      </if>
      <if test="examTime != null">
        #{examTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bcu.judge.pojo.Exam">
    <!--@mbg.generated-->
    update exam
    <set>
      <if test="examId != null">
        exam_id = #{examId,jdbcType=VARCHAR},
      </if>
      <if test="examPaperId != null">
        exam_paper_id = #{examPaperId,jdbcType=VARCHAR},
      </if>
      <if test="examName != null">
        exam_name = #{examName,jdbcType=VARCHAR},
      </if>
      <if test="examDesc != null">
        exam_desc = #{examDesc,jdbcType=VARCHAR},
      </if>
      <if test="examStatus != null">
        exam_status = #{examStatus,jdbcType=VARCHAR},
      </if>
      <if test="examTime != null">
        exam_time = #{examTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bcu.judge.pojo.Exam">
    <!--@mbg.generated-->
    update exam
    set exam_id = #{examId,jdbcType=VARCHAR},
      exam_paper_id = #{examPaperId,jdbcType=VARCHAR},
      exam_name = #{examName,jdbcType=VARCHAR},
      exam_desc = #{examDesc,jdbcType=VARCHAR},
      exam_status = #{examStatus,jdbcType=VARCHAR},
      exam_time = #{examTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2019-06-21-->
  <select id="selectByExamId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from exam
    where exam_id=#{examId,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2019-06-24-->
  <update id="updateExamStatusByExamId">
        update exam
        set exam_status=#{updatedExamStatus,jdbcType=VARCHAR}
        where exam_id = #{examId,jdbcType=VARCHAR}
    </update>
</mapper>