<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bcu.judge.mapper.PartMapper">
  <resultMap id="BaseResultMap" type="com.bcu.judge.pojo.Part">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="part_id" jdbcType="VARCHAR" property="partId" />
    <result column="part_name" jdbcType="VARCHAR" property="partName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, part_id, part_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from part
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from part
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bcu.judge.pojo.Part">
    <!--@mbg.generated-->
    insert into part (id, part_id, part_name
      )
    values (#{id,jdbcType=INTEGER}, #{partId,jdbcType=VARCHAR}, #{partName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bcu.judge.pojo.Part">
    <!--@mbg.generated-->
    insert into part
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="partId != null">
        part_id,
      </if>
      <if test="partName != null">
        part_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="partId != null">
        #{partId,jdbcType=VARCHAR},
      </if>
      <if test="partName != null">
        #{partName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bcu.judge.pojo.Part">
    <!--@mbg.generated-->
    update part
    <set>
      <if test="partId != null">
        part_id = #{partId,jdbcType=VARCHAR},
      </if>
      <if test="partName != null">
        part_name = #{partName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bcu.judge.pojo.Part">
    <!--@mbg.generated-->
    update part
    set part_id = #{partId,jdbcType=VARCHAR},
      part_name = #{partName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2019-06-24-->
  <select id="selectPartNameByPartId" resultType="java.lang.String">
        select part_name
        from part
        where part_id = #{partId,jdbcType=VARCHAR}
    </select>
</mapper>